@font-face {
  font-family: gotham-light;
  src: url(../Fonts/GothamSSm-Light_Web.otf);
}

@font-face {
  font-family: gotham-med;
  src: url(../Fonts/GothamSSm-Medium_Web.otf);
}

@font-face {
  font-family: gotham-bold;
  src: url(../Fonts/GothamSSm-Bold_Web.otf);
}

@font-face {
  font-family: gotham-xlight;
  src: url(../Fonts/GothamSSm-XLight_Web.otf);
}

@font-face {
  font-family: gotham-book;
  src: url(../Fonts/GothamSSm-Book_Web.otf);
}

*,
ul,
a {
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  --h1size:1.6rem;
}
a{
  color: black;
}

p {
  max-width: 30em;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  font-family: gotham-book;
  overflow-x: hidden;
  min-height: 160vh;
  color: white;
  box-sizing: border-box;
}

/* Header ------------------ */

header {
  height: 100vh;
  min-height: 40em;
  background: url(../images/Model-3-Main-Hero-Desktop-LHD.jpeg) no-repeat center center/cover;
  font-size: 14px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, 8vw);
  grid-template-rows: repeat(3, 1fr);
}

.logo {
  line-height: 2rem;
  padding: 0 0.5rem;
  width: 8.5rem;
  margin-left: 48px;
  /* margin-top: 2%; */
}
.navbar .logo-icon{
 color: white;
}

.navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  .75rem ;
}

.navbar li{
  /* margin-top: 2%; */
  padding: 8px;
  display: inline-block;
}

.navbar li a {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: .2rem;
}

.navbar li a:hover {
  background: rgba(76, 76, 76, 0.662);
  backdrop-filter: blur(10px);

}

.model3 {
  font-family: gotham-book;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  height: 37vh;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  grid-column: 4 / span 2;
}

.car-container {
  font-size: 1.5rem;
  white-space: nowrap;
  grid-row: 3 / span 1;
  grid-column: 2 / span 6;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
  position: relative;
  text-align: center;
  margin-bottom: 2vh;
  font-family: gotham-light;
}

/* .car-container *div {
  padding: ;
} */
.speed {
  letter-spacing: 0.4rem;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.speed p {
  font-size: 12px;
  letter-spacing: 0;
  padding: 0.4rem;
}

.miles p {
  font-size: 12px;
  letter-spacing: 0;
  padding: 0.4rem;
}

.miles .nums {
  letter-spacing: 0.1rem;
}

.miles {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.motor {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}

.motor p {
  font-size: 12px;
  padding: 0.4rem;
}

.btn {
  /* border: 1px solid white; */
  font-size: 14px;
  text-align: center;
  grid-row: 3 / span 1;
  grid-column: 4 / span 2;
  padding: 1rem;
}

.btn-light {
  padding: 10px 4vw;
  border: 3px solid white;
  border-radius: 0.2rem;
}

.speedometer {
  height: 3vh;
  max-width: 40px;
  position: absolute;
}

.speedometer .part1,
.part2 .part3 {
  position: absolute;
}

.part1 {
  bottom: 0;
  left: 0;
}

.part3 {
  width: 15%;
  transform: rotate(90deg);
}

.part2 {
  display: flexbox;
  flex-wrap: wrap;
  align-self: flex-end;
  width: 100%;
  bottom: 0;
}
 /* Section2 ------------------ */
.section2 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: black;
  align-items: center;
}

.skeleton {
  background: url(/images/model-3-hero-a-desktop.jpeg) no-repeat center center/cover;
  height: 95%;
  width: 78%;
  position: relative;
}

.description {
  padding: 2.4rem;
  width: 22%;
  /* max-height: 100vh; */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.description .heading {
  line-height: 2.2rem;
  padding: 1.5rem 0;
  font-family: gotham-light;
  letter-spacing: -.03rem;
}

.description h1 {
  letter-spacing: -.06rem;
  font-size: 1.8rem;
  font-family: gotham-book;
  font-weight: 200;
}

.description h3 {
  font-weight: 200;
  font-family: gotham-xlight;
  font-size: 1.1rem;
}
.description-text {
  white-space: wrap;
}
.description p {
  /* letter-spacing: -.01rem; */
  font-family: gotham-light;
  font-weight: 100;
  /* margin: 0; */
  font-size: 14px;
  line-height: 1.3rem;
  padding: .5rem 0;
  /* text-align: ; */
}
.section-buttons {
  margin: 1rem 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.text-description {
  min-width: 336px;
}
/* --------------------------- Sections 3, 4 --------------------- */
/* .descrioption h1 {
  font-size: em;
  font-family: gotham-book;
} */

.genericsec {
  height: 100vh;
}

.snowpic {
  height: 72.5%;
  background: url(/images/Model-3-Performance-Hero-Desktop-LHD.jpeg) no-repeat center center/cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;

}
.text-container{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding:3.625rem 0;
  line-height: 1.2rem;
}

.text-container p{
  font-size: 12px;
  padding: .5rem 1.2rem 0;
  padding-top: .5rem;
  white-space: pre-wrap;
  font-family: gotham-xlight;
  /* word-spacing: .01rem ; */
  letter-spacing: .01rem;

}

.text-container h1 {
  font-family: gotham-book ;
  font-weight: 300;
  font-size: var(--h1size);
}
.bluepic {
  background: url(/images/Model-3-AWD-Hero-Desktop-LHD.jpeg) no-repeat center center/cover;
  height: 72.5%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.container1{
  height: 27.5%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.textbox2 h1, .textbox3 h1{
  letter-spacing: -.04rem;
}
.textbox1 h1{
  letter-spacing: .4rem;
}

.container2{
  width: 58vw;
  color: black;
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  padding: 3rem 0 2.2rem;
}

.subcontainer2 {
  width:100%;
  display: flex;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  justify-content: space-between;
}

.container3 {
  width:calc(39.5% - 8px);
  display: flex;
  flex-direction: column;
}
.container3 .heading{
  padding: 1rem 0 .5rem;
}

.container3 h1{
  letter-spacing: -0.06rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.container3 h3 {
  font-family: gotham-light;
  font-weight: 400;
  font-size: 1.06rem;
}

.container3 .text-footer{
  display: flex;
/* justify-content: flex-start; */
align-items: center;
flex-direction: row;
  /* flex-wrap: wrap; */
  margin:1rem 0;
  font-size: .875rem;

}

.round-el {
  height: 40px;
  width: 40px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 .5rem 0 0;
  display: block;
transition: .15s all ease-in-out;
}
.round-el:hover{
color: white;
background-color: black;
}

.learn-btn {
  display: flex;
  align-items: center;
  margin-right: .5rem;
  display: inline-flex;
}

.btn-dark {
  width:48%;
  display: inline-block;
  padding: .25rem 1.5rem;
  border: 3px solid black;
  border-radius: .25rem;
  transition: .15s all ease-in-out;
  
}
.btn-dark:hover{
  color: white;
  background-color: black;
}
.btn-dark a>div:hover{
  color: white;
}


.btn-dark a>div{
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  min-height: 1.625rem;
}

.container4{
  width: 60%;
  font-family: gotham-light;
  font-size: 14px;
  line-height:1.25rem;
}

.container4>div{
  font-family: gotham-light;
  font-weight: 200;
  padding: 1rem 0;
}

.sidebar-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  top: 0;
  font-size: 24px;
  width: 1.6rem;
}

.sidebar-container a{
  border-left: .5px solid rgb(82, 82, 82);
  opacity: 1;
  color: rgba(156, 156, 156, 0.755);
}
.sidebar-container .side-navbar-item{
  margin: 7px;
}

.sidbar-container a::after {
  content: attr(tooltip);
  border: 2px solid white;

}

.btn-light:hover{
  background: white;
  color: black;
  transition: .15s all ease-in-out;
}

#pin-item1 {
  border-left: 3px solid #171a20;
  height: 15.3vh;
  width: 38.5vw;
  position: absolute;
  top: 16vh;
  left: auto;
  right: 0;
}

#pin-item2 {
  border-left: 3px solid #171a20c5;
  height: 22vh;
  width: 52vw;
  position: absolute;
  top: 29vh;
  left: auto;
  right: 0;
}

#pin-item3 {
  border-left: 3px solid #171a20;
  height: 15.3vh;
  width: 36vw;
  position: absolute;
  top: 59vh;
  left: auto;
  right: 0;
  display: flex;
  align-items: flex-end;
}

p.detail-txt {
  color: #171a20;
  font-size: 14px;
}
.dot{
  width: 8px;
  height: 8px;
  border: 2px solid black;
  background-color: white;
  border-radius: 50%;
}
.dot1{
position: relative;
top: 100%;
left: -.7%;
}
.dot3{
position: relative;
top: 100%;
left: -.6%;
}
.dot2{
position: relative;
top: -100%;
left: -.8%;
}

.pin {
  animation: 'pin' 5s ease-in 0.15s single-animation linear fill;
}

@keyframes pin {
  0%{
      transform: scale(0.1)
  }
  20% {
    transform: scale(0.3);
  }
  50% {
      transform: scale(0.6);
  }

  75% {
      transform: scale(.9);
  }

}

.emphasized {
  border-bottom: 1px solid black ;
}